.footerBackground {
    background-color: #002333;
}

.footerButtonPad {
    margin-top: 5%;
  }

.footerLink {
    color: #8d959a;
  }
  
.footerLink:hover {
    background-color: transparent;
  }

.footerText {
    color: #8d959a;
    font-size: 17px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
  }

.studentFooterLinks {
    color: #8d959a;
    font-size: 17px;
    padding-top: 7%;
  }
  
.extraFooter {
    background-color: #002333;
    padding-bottom: 2%;
  }