.pageHeadings {
  display: flex;
  justify-content: center;
  text-align: center;
}

.pageContentContainer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 10px;
  text-align: center;
}

.marginBottom {
  margin-bottom: 60px;
}

.imgSquare {
  width: 200px;
  height: 200px;
}

.imgCircle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.imgCircleTestimonials {
  padding-top: 20px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 20px;
  width: 300px;
  max-width: 100%;
  border-radius: 50% !important;
}

.pageButtonContainer {
  display: flex;
  justify-content: center;
}

.pageButtons {
  margin: 10px;
}

a.btnLink {
  color: white;
  text-decoration: none;
}

.greyTechGarden {
  background-image: url(../images/assets/light-hero-1.jpg);
  background-size: cover;
  background-position: center;
}

.instructorStats {
  color: #002333;
  font-size: 64px;
}

.blueParaStats {
  color: #2299dd;
  font-size: x-large;
}

.greenParaStats {
  color: #2de187;
  font-size: x-large;
}

.blueButton {
  background-color: #2299dd;
  color: white;
  border-radius: 0;
  margin: 10px;
}

.blueButton:hover {
  background-color: #2299dd;
  opacity: 0.8;
}

.centerText {
  text-align: center;
}

a {
  text-decoration: none;
}
