@media only screen and (max-width: 900px) {
	.alumniCardRow {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.cardSize {
		display: flex;
		flex-direction: column;
		min-width: 100%;
		align-self: center;
	}
}

.cardTitle {
	font-size: 16px;
	font-weight: bold;
}

.cardText {
	font-size: 15px;
	margin: 5px;
}

.imgSize {
	object-fit: cover;
	width: auto;
	max-height: 300px;
}

.alumniCardRow {
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin: 50px 0;
	text-align: center;
}

.alumniCardContainer {
	max-width: 90%;
}

.cardSize {
	width: 300px;
	height: auto;
	padding: 15px;
	margin: 0;
}

.centerContentColumns {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*
.imgSize {
  object-fit: cover;
  width: auto;
  height: 300px;
}

.cardTitle {
  font-size: 16px;
  font-weight: bold;
}

.cardText {
  font-size: 16px;
}

.alumniCardRow {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 50px 0;
  text-align: center;
}

.alumniCardContainer {
  max-width: 90%;
}

.cardSize {
  width: 300px;
  height: auto;
  padding: 15px;
}
*/
