@media only screen and (max-width: 600px) {
  .tableContainer {
    margin: 0;
    width: 100%;
    padding: 40px !important;
  }
}

.tableContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 30px 100px;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
}

.tableHeader {
  background-color: black;
  color: white;
  font-weight: bold;
}

/****  THIS PROPERTY IS SET IN PAGES UNDER 'ELEMENT SPECIFIC' ****/
/* 
th,
td,
tr {
  font-size: 16px;
} */
