.pageHeadings {
  display: flex;
  justify-content: center;
  text-align: center;
}

.pageContentContainer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 10px;
  text-align: center;
}

.marginBottom {
  margin-bottom: 60px;
}

.containerStyles {
  width: 70%;
  padding: 30px;
}

.imgSquare {
  width: 200px;
  height: 200px;
}

.imgCircle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.imgCircleTestimonials {
  padding-top: 20px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 20px;
  width: 300px;
  max-width: 100%;
  border-radius: 50% !important;
}

.pageButtonContainer {
  display: flex;
  justify-content: center;
}

.pageButtons {
  margin: 10px;
}

a.btnLink {
  color: white;
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #2299dd;
}

.greyTechGarden {
  background: linear-gradient(
      rgba(255, 255, 255, 0.753),
      rgba(199, 199, 199, 0.6)
    ),
    url("https://scontent-lga3-1.xx.fbcdn.net/v/t31.0-8/14691375_10154720614189883_7910128265032499480_o.jpg?_nc_cat=108&_nc_sid=e3f864&_nc_ohc=cuFOgP2VnE0AX-8C3bm&_nc_ht=scontent-lga3-1.xx&oh=917ba7ac60ab209caf02e02a873a3cfa&oe=5F0428AD");
  background-position: center;
  z-index: 2;
  opacity: 90%;
  color: white;
}

.instructorStats {
  color: #002333;
  font-size: 64px;
}

.blueParaStats {
  color: #2299dd;
  font-size: x-large;
}

.greenParaStats {
  color: #2de187;
  font-size: x-large;
}

.blueButton {
  background-color: #2299dd;
  color: white;
  border-radius: 0;
  margin: 10px;
}

.blueButton:hover {
  background-color: #2299dd;
  opacity: 0.8;
}

.centerText {
  text-align: center;
}

.centerItems {
  display: flex;
  justify-content: center;
}

.centerContentColumns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lgLogo {
  width: 300px;
  height: auto;
}

.mdLogo {
  width: 250px;
  height: auto;
}

.smLogo {
  width: 200px;
  height: auto;
}

/* BUTTONS */
.blueButton {
  margin: 30px;
  background-color: #2299dd;
  border: 0px;
  border-radius: 0.25rem;
}

.blueButton:hover {
  background: rgba(34, 153, 221, 0.7);
}

.btnLink {
  color: white;
  text-decoration: none;
}
