/*
*** VARIABLES
*/

:body {
  --primaryBlue: #2299dd;
  --mediumBlue: #002333;
  --darkBlue: #03030f;
  --lightBlueGrey: #c8c9e2;
  --primaryGreen: #53fe99;
  --secondaryGreen: #33d5c3;
  --darkGreen: #204c50;
}

/*
*** BREAKPOINTS
*/

@media only screen and (max-width: 600px) {
  .blueButton {
    width: 250px;
  }
  .greenButton {
    width: 250px;
  }
  .whiteContainer {
    margin: 0;
  }
}

/*
*** CONTAINERS
*/
.pageContentContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 0 100px;
  text-align: center;
  width: 100%;
}

.blueContainer {
  display: flex;
  justify-content: center;
  /* margin-bottom: 30px; */
  padding: 30px 100px;
  text-align: center;
  width: 100%;
  background-color: #002333;
  color: #c8c9e2;
}

.whiteContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 30px 100px;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
}

.greenContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 30px 100px;
  text-align: center;
  width: 100%;
  background-color: #33d5c3;
  color: #000000;
}

.techGardenImg {
  background: linear-gradient(
      rgba(255, 255, 255, 0.753),
      rgba(199, 199, 199, 0.6)
    ),
    url("https://scontent-lga3-1.xx.fbcdn.net/v/t31.0-8/14691375_10154720614189883_7910128265032499480_o.jpg?_nc_cat=108&_nc_sid=e3f864&_nc_ohc=cuFOgP2VnE0AX-8C3bm&_nc_ht=scontent-lga3-1.xx&oh=917ba7ac60ab209caf02e02a873a3cfa&oe=5F0428AD");
  background-position: center;
  z-index: 2;
  opacity: 90%;
  color: white;
}

/*
*** ELEMENT SPECIFIC
*/
.pageHeadings {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.containerStyles {
  width: 70%;
  padding: 30px;
}

.imgSquare {
  width: 200px;
  height: 200px;
}

.marginBottom {
  margin-bottom: 60px;
}

th,
td,
tr {
  font-size: 16px;
}

.outcomes {
font-size: 35px;
font-weight: bold;
}

h3 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
/*
*** LINKS
*/

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.bannerLink {
  color: black;
  text-decoration: none;
}

.bannerlink:hover {
  text-decoration: none;
  color: white;
}

/*
*** ALIGNMENT
*/
.centerText {
  text-align: center;
}

.centerItems {
  display: flex;
  justify-content: center;
}

.centerContentColumns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
*** IMAGE SIZING
*/
.lgLogo {
  width: 300px;
  height: auto;
}

.mdLogo {
  width: 250px;
  height: auto;
}

.smLogo {
  width: 200px;
  height: auto;
}

/*
*** BUTTONS
*/
.blueButton {
  margin: 0;
  background-color: #2299dd;
  border: 0px;
  border-radius: 0.25rem;
}

.blueButton:hover {
  background: rgba(34, 153, 221, 0.7);
}

.btnLink {
  color: white;
  text-decoration: none;
}

.whiteButton {
  margin: 30px;
  background-color: #ffffff;
  border: 0px;
}

.whiteButton:hover {
  background: rgba(255, 255, 255, 0.7);
}

.whiteBtnLink {
  color: #2299dd;
  text-decoration: none;
}

.whiteBtnLink:hover {
  color: #2299dd;
}

.greenButton {
  margin: 15px 20px;
  background-color: #33d5c3;
  border: 0px;
}

.greenButton:hover {
  background: rgba(51, 213, 195, 0.7);
}

.greenBtnLink {
  color: #ffffff;
  text-decoration: none;
}

.greenBtnLink:hover {
  color: #ffffff;
}

.pageButtonContainer {
  display: flex;
  justify-content: center;
}

.pageButtons {
  margin: 10px;
}

a.btnLink {
  color: white;
  text-decoration: none;
}
