@media only screen and (max-width: 900px) {
  .infoCardRow {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .infoCard {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    align-self: center;
  }
}

.infoCard {
  margin: 0;
}

.infoCardText {
  font-size: 16px;
  min-height: 4rem;
  font-weight: 700;
}

.infoCardBottomText {
  font-size: 16px;
  min-height: 3rem;
}

.infoCardNumberGreen {
  font-size: 2.5rem;
  font-weight: bold;
  color: #33d5c3;
}

.infoCardNumberBlue {
  font-size: 2.5rem;
  font-weight: bold;
  color: #2299dd;
}

.infoCardRow {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 50px 0;
  text-align: center;
}

.infoCardContainer {
  max-width: 90%;
}

.logoImg {
  max-width: 300px;
  height: auto;
  margin-top: 20px;
}

.whiteContainer {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  margin-bottom: 30px;
  padding: 30px 100px;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
}

.objectives {
  font-weight: bold;
}

.description {
  font-size: 16px;
}
