/*
*** MEDIA QUERIES
*/

@media only screen and (max-width: 900px) {
  .breakpointRow {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    max-width: 900px;
  }
  .greenBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    min-width: 100%;
  }
  .whiteBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 100%;
  }
}

.greenBox {
  background-color: #33d5c3;
  min-height: 100%;
  text-align: center;
  max-width: 33%;
  color: white;
  padding: 30px 40px;
}

.whiteBox {
  background-color: #ffffff;
  min-height: 100%;
  text-align: center;
  max-width: 33%;
  color: black;
  padding: 30px 40px;
}

.boxHeading {
  font-size: 18px;
}

.blueButton {
  margin: 30px;
  background-color: #2299dd;
  border: 0px;
  border-radius: 0.25rem;
}

.blueButton:hover {
  background: rgba(34, 153, 221, 0.7);
}

a.btnLink {
  color: white;
  text-decoration: none;
}

.whiteButton {
  margin: 30px;
  background-color: #ffffff;
  color: #2299dd;
  border: 0px;
  border-radius: 0.25rem;
}

.whiteButton:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #2299dd;
}

.greenButton {
  margin: 30px;
  background-color: #33d5c3;
  color: #ffffff;
  border: 0px;
  border-radius: 0.25rem;
}

.greenButton:hover {
  background: rgba(83, 254, 153, 0.7);
}

.btnLinkBlue {
  color: #2299dd;
}
