.blueButton {
  margin: 30px;
  background-color: #2299dd;
  border: 0px;
  border-radius: 0.25rem;
}

.blueButton:hover {
  background: rgba(34, 153, 221, 0.7);
}

a.btnLink {
  color: white;
  text-decoration: none;
}
