/*
*** MEDIA BREAKPOINTS
*/

@media only screen and (max-width: 900px) {
  .carouselMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    max-width: 900px;
  }
  .carouselImg {
    width: 100px;
  }
  .carouselCaption {
    text-align: center;
    width: 550px;
    height: auto;
  }
}

.blueButton {
  background-color: #2299dd;
  border: 0px;
  border-radius: 0.25rem;
}

.blueButton:hover {
  background: rgba(34, 153, 221, 0.7);
}

a.btnLink {
  color: white;
  text-decoration: none;
}

.btnContainer {
  text-align: center;
  padding: 0;
}

.carouselImg {
  opacity: 0.7;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 320px;
}

.carouselCaption {
  color: white;
  background-color: transparent;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

.carouselMain {
  background-color: #002333;
  color: white;
  text-align: center;
  padding: 30px 0 30px 0;
}
