.jumboBannerImg {
  background: linear-gradient(rgba(0, 77, 145, 0.7), rgba(148, 178, 204, 0.6)),
    url("../images/jumbo/cic-intro-banner.jpg") center no-repeat;
  background-size: cover;
  z-index: 2;
  color: white;
}

.headerContainer {
  background: transparent;
  color: white;
}
