.jumboButtonContainer {
  display: flex;
  justify-content: center;
}

.jumboButtons {
  margin: 30px;
  background-color: #2299dd;
  border: 0px;
}

.jumboButtons:hover {
  background: rgba(34, 153, 221, 0.7);
}

.btnLink {
  color: white;
  text-decoration: none;
}

.btnLink:hover {
  color: white;
}
