@media only screen and (max-width: 900px) {
  .jumboButtons {
    padding-left: 20px;
    padding-right: 20px;
    margin: 15px !important;
  }
}

.jumboButtonContainer {
  display: flex;
  justify-content: center;
}

.jumboButtons {
  margin: 30px;
  background-color: #ffffff;
  border: 0px;
}

.jumboButtons:hover {
  background: rgba(255, 255, 255, 0.7);
}

.btnLink {
  color: #2299dd;
  text-decoration: none;
}

.btnLink:hover {
  color: #2299dd;
}
