.jumboContainer {
  background: transparent;
  color: white;
  margin: 0;
  min-height: 300px;
}

.jumboButtonContainer {
  display: flex;
  justify-content: center;
}

.jumbotronHeadings {
  display: flex;
  justify-content: center;
  text-align: center;
}

.jumboBannerImg {
  background: linear-gradient(rgba(0, 77, 145, 0.6), rgba(148, 178, 204, 0.6)),
    url("../images/jumbo/cic-intro-banner.jpg");
  background-position: center;
  z-index: 2;
  opacity: 90%;
  color: white;
}
