@media only screen and (max-width: 900px) {
  .jumboContainer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.jumboContainer {
  background: transparent;
  color: white;
  margin: 0;
  min-height: 300px;
}

.jumboButtonContainer {
  display: flex;
  justify-content: center;
}

.jumbotronHeadings {
  display: flex;
  justify-content: center;
  text-align: center;
}
