.navContainer {
  background: transparent;
  color: white;
}

.dropdownLink {
  color: navy;
}

.dropdownLink:hover {
  color: navy;
}

.navLink {
  text-decoration: none;
  color: white;
}

.navLink:hover {
  color: #2299dd;
}
